
.text-item{
    position: absolute;
    margin-bottom: 150px;
}
.img-bg{
    filter: brightness(60%);
}
h2{
    font-size: 4.5rem!important;
}
h1{
    font-size: 3rem!important;
}
/* register Section */
.full-box{
   padding: 50px;
}
.left-content{
   width: 60%;
}
.right-register{
   width: 30%;
}